@charset "utf-8";
/* CSS Document */
#imageT{
	position:relative;
	left:40%;
	}
#btninicio{
	width:30%;
	position:relative;
	left:35%;
	}
#logoT{
	position:relative;
	top:7px;
	left:80%;
	}
#logocontenido{
	position:relative;
	left:30%;
	}